/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.idea/workspace.xml
.idea/modules.xml
.idea/deployment.xml
.idea/controleEstoque.iml
.idea/blade.xml
.env.example
.idea/vcs.xml
.editorconfig
